@use '@/styles/theme.scss' as *;

.wrapper {
  position: relative;
  height: 100%;

  &:hover {
    .img {
      filter: brightness(0.8);
    }

    .more-button {
      visibility: visible;
    }
  }
}

.top-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: $white;
  background: linear-gradient(
    to bottom,
    $blurryBlack700,
    $blurryBlack400,
    rgba(0, 0, 0, 0)
  );
  border-radius: 10px 10px 0 0;
}

.avatar {
  display: block;
  width: fit-content;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $black;
  border-radius: 10px;
}

.img-box {
  position: relative;
  width: 100%;
  border-bottom: 2px solid $black;
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 300px;

  @media #{$mobile} {
    height: 200px;
  }
}

.img-placeholder {
  border-radius: 10px 10px 0 0;
}

.img {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.time {
  font-size: 0.9rem;
}

.skeleton {
  height: 415px;
  overflow: hidden;
}
