@use '@/styles/theme.scss' as *;

.container {
  flex: 1;
  margin: 0 auto;
  padding: 2rem 32px;
  max-width: $layoutMaxWidth;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
