@use '@/styles/theme.scss' as *;

// Cards

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 36px;
  word-break: break-all;

  @media #{$laptop} {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  @media #{$tablet} {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

// Card

.wrapper {
  position: relative;

  &:hover {
    .img {
      filter: brightness(0.8);
    }

    .card-menu {
      visibility: visible;
    }
  }
}

.card-menu {
  visibility: hidden;

  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $black;
  border-radius: 10px;
}

.img-box {
  position: relative;
  width: 100%;
  border-bottom: 2px solid $black;
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 300px;

  @media #{$mobile} {
    height: 200px;
  }
}

.img-placeholder {
  border-radius: 10px 10px 0 0;
}

.img {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-weight: 500;
}

.time {
  font-size: 0.9rem;
}
