@use '@/styles/theme.scss' as *;

.quantity {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  border: 1px solid $grey400;
  border-radius: 5px;
}
