@use '@/styles/theme.scss' as *;

// List

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
  gap: 36px;
  word-break: break-all;

  @media #{$mobile} {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
