@use '@/styles/theme.scss' as *;

//Search

.search-wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.search {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  background: $grey100;
  border-radius: 30px;
  border: 2px solid $grey100;
  transition: all 0.3s;

  &:hover {
    border: 2px solid $pointColor;
    background: $white;
  }

  &:focus-within {
    border: 2px solid $pointColor;
    background: $white;
  }

  @media #{$mobile} {
    padding: 5px;
  }
}

.input {
  flex: 1;
  margin-left: 18px;
  font-size: 0.9rem;
  height: 100%;

  @media #{$mobile} {
    font-size: 0.8rem;
    margin-left: 5px;
  }
}

.button {
  padding: 10px;
  background: $pointColor;
  border-radius: 50%;
  color: $white;
  font-size: 1.2rem;

  &:hover {
    background: $pointColorLight;
  }

  @media #{$mobile} {
    padding: 4px;
    font-size: 1rem;
  }
}

// SearchMenu

.search-menu {
  display: flex;
  border: 1px solid $grey700;
  border-radius: 5px;
  padding: 2px;
  margin: 0 5px;
}

.search-item {
  padding: 4px;
  display: flex;
  border-right: 1px solid $grey700;

  &:last-child {
    border-right: none;
  }

  &:hover {
    background: $grey200;
  }
}
.search-item__text {
  width: 0px;
  overflow: hidden;
  transition: all 0.5s;

  &--selected {
    margin-left: 5px;
    width: fit-content;
  }
}
