@use '@/styles/theme.scss' as *;

.title {
  display: block;
  padding-bottom: 40px;
  font-size: $font-size-22;
  font-weight: 500;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
