@use '@/styles/theme.scss' as *;

.title {
  display: block;
  padding-bottom: 40px;
  font-size: $font-size-22;
  font-weight: 500;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quantity {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  border: 3px solid $pointColor;
  border-radius: 20px;
}
