@use '@/styles/theme' as *;

.item {
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.name {
  margin-right: 6px;
}

.quantity {
  margin-left: 6px;
  margin-right: 10px;
}

.icon {
  display: inline-block;
  margin-left: 8px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: $grey200;
  vertical-align: sub;
  color: $black;

  &:hover {
    background-color: $grey500;
  }
}
