@use '@/style/theme' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  min-width: 200px;
  max-height: 70vh;
}

.ingredient {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  &__name {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: $font-libre;
  }
}

.icon-info {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 0.5rem;
  font-size: 0.9rem;

  &__item {
    display: flex;
    gap: 5px;
  }
}

.product-list {
  flex: 1;
  overflow: overlay;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 10px;
}
