@use '@/styles/theme.scss' as *;

//layout

.wrapper {
  display: flex;
  width: 100%;
  position: relative;
  min-height: 100vh;
  flex-direction: row;

  @media #{$mobile} {
    flex-direction: column;
  }
}

.layout-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: calc(100vh - 140px);
  padding: 0 20px;
}

// Header
.logo {
  min-width: 100px;
  z-index: 1;
  position: absolute;
  top: 35px;
  left: 25px;
  color: $white;

  @media #{$laptop} {
    color: $black;
  }

  @media #{$mobile} {
    position: relative;
    top: auto;
    left: auto;
    margin: 20px;
  }
}

// Nav

.nav {
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.img-container {
  position: relative;
  width: 400px;
  min-height: 100vh;

  @media #{$laptop} {
    display: none;
  }
}

.img {
  object-fit: cover;
  filter: brightness(0.9);
}

// Footer

.footer {
  width: 300px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: $white;

  @media #{$laptop} {
    color: $black;
    left: 50%;
    transform: translateX(-50%);
  }

  @media #{$mobile} {
    position: relative;
    top: auto;
    left: auto;
    transform: translateX(0);
    margin-top: 10px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
}
