@use '@/style/theme.scss' as *;

.wrapper {
  width: 100%;
}

.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 25px;
  max-width: $layoutMaxWidth;
  width: 100%;
}

.search {
  flex-grow: 1;
  display: flex;
  margin: 0 20px;
}

// NavRightButtons

.right-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile {
  .profile-dropbox {
    margin-top: 8px;
    visibility: hidden;
    opacity: 0;
    transition: 0s linear 0.5s;
    transition:
      visibility 0s linear 0.5s,
      opacity 0.5s linear;
  }

  &:hover {
    .profile-dropbox {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }
}
