@use '@/styles/theme' as *;

.cart-button {
  margin-left: 5px;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: $grey200;

  vertical-align: sub;
  text-decoration: underline;

  &:hover {
    background-color: $grey500;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
