@use '@/styles/theme.scss' as *;

.card {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
}

.top-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  background: linear-gradient(
    $blurryBlack700,
    $blurryBlack400,
    rgba(0, 0, 0, 0)
  );
  border-radius: 10px 10px 0 0;
  color: $white;
}

.avatar {
  display: block;
  width: fit-content;
}

.img-link {
  position: relative;
  display: block;
  flex: 1;
  width: 100%;
  height: 100%;
  font-weight: 500;
  color: $white;

  .hover-darker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blurryBlack200;
    border-radius: 10px;
    opacity: 0;
  }

  &:hover {
    .hover-darker {
      opacity: 1;
    }
  }
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.bottom-overlay {
  padding: 20px 15px 15px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: end;
  width: 100%;

  background: linear-gradient(
    rgba(0, 0, 0, 0),
    $blurryBlack500,
    $blurryBlack700
  );
  border-radius: 0 0 10px 10px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media #{$laptop} {
    width: 180px;
  }
}

.loading {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
