@use '@/style/theme' as *;

.header {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 2rem;

  h1 {
    font-size: 5rem;
  }

  @media #{$laptop} {
    h1 {
      font-size: 4rem;
    }
  }

  @media #{$mobile} {
    h1 {
      font-size: 2rem;
    }
  }
}

.header__title {
  align-self: flex-end;
}
