@use '@/style/theme' as *;

.container {
  display: block;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.container--close {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid $grey700;
  min-height: 100px;
  min-width: 200px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;

  &:focus {
    outline: none;
  }
}

.header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.header--no-header {
  display: 'none';
}

.title {
  display: block;
  font-weight: 500;
  font-size: 1.2rem;

  @media #{$mobile} {
    font-size: 1rem;
  }
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.7;
  flex: 1;
}

// Modal2

.modal2 {
  background-color: $blurryBlack400;

  &__close-button {
    color: white;
    padding: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    border-radius: 5px 5px 0px 0px;
    min-height: 100px;
    min-width: 200px;

    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;

    &:focus {
      outline: none;
    }
  }
}
