@use '@/styles/theme.scss' as *;

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
  }
}
