@use '@/style/theme.scss' as *;

.layout_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  width: 100%;
}

.page-container {
  margin: 0 auto;
  max-width: $layoutMaxWidth;
  padding: 10px 32px;
}

.search {
  position: relative;
  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: center;

  &-container {
    display: flex;
    flex: 1;
    max-width: 700px;
  }
}
