@use '@/styles/theme' as *;

.tab {
  flex: 1;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: $black;
  font-weight: 500;
  transition: all 0.2s;

  &--selected {
    border-bottom: 2px solid $black;
  }

  &:hover:not(&--selected) {
    border-bottom: 2px solid $grey300;
    color: $grey600;
  }
}

.tab-group {
  width: 100%;
  display: flex;
}
