@use '@/styles/theme' as *;

.item {
  display: flex;
  align-items: flex-start;

  &:hover .label {
    color: $grey600;
  }

  .label {
    line-height: 24px;
    word-break: break-all;

    &--selected {
      color: $grey600;
    }
  }

  input {
    height: 24px;
    margin-right: 1rem;
  }
}
