@use '@/styles/theme' as *;

.chip {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.7rem;
  border-radius: 15px;
  background-color: $grey200;
  color: $black;
  font-size: $front-size-13;
  font-weight: 400;

  &--border {
    border: 1px solid $black;
  }

  &--warning {
    background-color: $red800;
    color: $white;
  }

  &--info {
    background-color: $grey200;
    color: $black;
  }

  &--success {
    background-color: $teal700;
    color: $white;
  }
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
