@use '@/style/theme' as *;

.chip {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.7rem;
  border-radius: 15px;
  background-color: $grey200;
  font-size: 0.8rem;
  font-weight: 400;

  &--border {
    border: 1px solid $black;
  }
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
