@use '@/styles/theme.scss' as *;

.tabs {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: $front-size-14;

  .tab {
    width: 150px;
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    gap: 10px;

    @media #{$mobile} {
      width: 50px;
      flex: 0 0 50px;

      .text {
        display: none;
      }
    }
  }
}
