@use '@/style/theme.scss' as *;

//Search

.search-wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.search {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  background: $grey100;
  border-radius: 30px;
  border: 2px solid $grey100;
  transition: all 0.3s;

  &:hover {
    border: 2px solid $pointColor;
    background: $white;
  }

  &:focus-within {
    border: 2px solid $pointColor;
    background: $white;
  }

  @media #{$mobile} {
    padding: 5px;
  }
}

.input {
  flex: 1;
  margin-left: 18px;
  font-size: 0.9rem;
  height: 100%;

  @media #{$mobile} {
    font-size: 0.8rem;
    margin-left: 5px;
  }
}

.button {
  padding: 10px;
  background: $pointColor;
  border-radius: 50%;
  color: $white;
  font-size: 1.2rem;

  &:hover {
    background: $pointColorLight;
  }

  @media #{$mobile} {
    padding: 4px;
    font-size: 1rem;
  }
}

// Search Menu

.menu {
  width: 100px;

  @media #{$mobile} {
    width: 80px;
  }
}

.menu__title {
  width: 100%;
  padding: 5px 10px 5px 0px;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  align-items: center;
  gap: 5px;
  color: $black;

  &:hover {
    color: $grey600;
  }

  @media #{$mobile} {
    padding: 5px 5px 5px 0px;
    font-size: 0.8rem;
  }

  .arrow {
    font-weight: 400;
  }
}
