@use '@/style/theme.scss' as *;

.avatar {
  display: flex;
  align-items: center;
}

.img-box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.username-img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 32px;
  width: 32px;
  background-color: $grey400;
}

.username {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-left: 10px;
}
