@use '@/styles/theme.scss' as *;

.header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.title {
  font-weight: 700;
  font-size: 1.2rem;

  @media #{$laptop} {
    font-size: 1rem;
  }
}

.tabs {
  display: flex;
  justify-content: center;
}

.container {
  overflow: hidden;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid $black;
  position: relative;
  min-height: 300px;
}

.recommend-list {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  overflow: overlay;
}

.item {
  display: flex;
  width: 300px;
  height: 300px;
  flex-shrink: 0;

  @media #{$laptop} {
    width: 200px;
    height: 200px;
  }
}

.see-more {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: $grey100;

  &:hover {
    background: $grey300;
  }
}
