@use '@/styles/theme.scss' as *;

.layout-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.page-container {
  flex: 1;
  margin: 0 auto;
  max-width: $layoutMaxWidth;
  padding: 10px 32px;
}

.no-result {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 500;
  gap: 5px;
}
